@media screen and (max-width: 767px) {
    .jdomez-info__content {
      display: flex;
      flex-direction: column;
    }
    .jdomez-info__content div {
      width: 100%;
    }
    .jdomez-info__title {
      font-size: 1.2em;
      color: var(--color-tertiary);
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding-bottom: 10px;
    }
    .jdomez-info__title::after {
      content: "";
      width: 10px;
      height: 2px;
      position: absolute;
      bottom: -1px;
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--color-tertiary);
    }
    .select-projects__project-name {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: space-between;
    }
    .select-projects__project-name a {
      margin-top: 20px;
    }
    /* default project */
    .project-default__info-container {
      width: 90%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
    }
    .project-default__divider {
      display: none;
    }
    .project-default__info {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 2rem;
    }
    .project-default__title {
      font-size: 3em;
    }
    .projects-images {
      width: 90%;
      margin: 100px auto;
    }
    /* cialpha styles */
    .project-alpha {
      width: 90%;
    }
    .footer-social__mail a {
      font-size: 1.5em;
    }
    .footer__jdomez-info-container {
      flex-direction: column;
    }
    .footer__jdomez-info {
      align-items: center;
      width: 100%;
      text-align: center;
    }
    .footer__jdomez-info-text p {
      width: 100%;
    }
    .select-projects__project h2 {
      width: 100%;
    }
    .cursor {
      opacity: 0!important;
    }
    .video-gallery {
      width: 90%!important;
    }
    .images-gallery__stories {
      width: 90%!important;
    }
    .images-gallery__post {
      width: 90%!important;
    }
    .images-gallery__spomi {
      width: 90%!important;
    }
    .w-50 {
      margin: 100px 0 100px 0 !important;
      letter-spacing: 0!important;
    }
    .subtitle-design {
      width: 90% !important;
    }
  }