.social-link,
.social-link svg,
.select-projects__project-img a img,
.select-projects__project-img a::after {
  transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
}
/* Presentation */
.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 50px;
  width: 90%;
  height: 100vh;
  margin: auto;
  padding: clamp(100px, 2.5vw, 200px) 0;
}
.presentation__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.presentation__title-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
}
.presentation__title {
  display: flex;
  flex-direction: column;
}
.symbol-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-tertiary);
}
.presentation__title-name {
  font-size: clamp(3rem, 10vw, 10rem);
  font-style: italic;
  font-weight: normal;
}
.presentation__title-last-name {
  font-size: clamp(2rem, 6vw, 6rem);
  font-weight: bold;
}
.presentation__subtitle {
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
}
.presentation__text {
  width: clamp(300px, 50vw, 800px);
  margin: 20px 0;
  font-size: clamp(.8rem, 2vw, 1.2rem);
  text-align: center;
  text-transform: uppercase;
  text-wrap: balance;
  line-height: 1.5;
}
.presentation__subtitle::selection,
.presentation__title-name::selection {
  background-color: var(--color-tertiary);
  color: var(--color-primary);
}
.presentation__text--yellow {
  color: var(--color-tertiary);
}
.symbol-title {
  font-size: clamp(3rem, 5vw, 7rem);
}

/* Scroll indicator */
.presentation__scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.presentation__mouse {
  width: 20px;
  height: 40px;
  border: 2px solid var(--color-tertiary);
  border-radius: 15px;
  position: relative;
  animation: mouseBounce 2s infinite;
}
.presentation__mouse-wheel {
  width: 4px;
  height: 8px;
  background-color: var(--color-secondary);
  border-radius: 2px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  animation: scroll 2s infinite;
}
.presentation__scroll p {
  font-size: .7em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.presentation-bottom {
  position: absolute;
  bottom: 8vh;
}
.social-links-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.social-link {
  position: relative;
  font-size: .7em;
  opacity: .4;
  text-transform: uppercase;
}
.social-link:hover {
  opacity: 1;
  font-size: .8em;
  letter-spacing: 2px;
}
.social-link svg,
.social-link svg {
  fill: var(--color-tertiary);
  width: 20px;
  height: 20px;
  transform: rotate(-45deg);
}
.social-link:hover svg {
  transform: rotate(0);
}
#proyectos {
  padding: 100px 0;
}
.select-projects {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  padding: 5vh 0;
} 
.project {
  padding-bottom: 100px;
  border-bottom: solid 1px var(--color-tertiary);
  opacity: 0;
  transform: translateY(100px) scale(0.9);
}
.select-projects__title {
  position: relative;
  width: 90%;
  margin: 0 auto;
  font-size: 11.5vw; 
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
}
.projects__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.projects__title span {
  line-height: 1;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-align: center;
}
.projects__title--yellow {
  padding: 10px 0;
  color: var(--color-tertiary);
  font-size: 0.6em;
  font-weight: 300;
}
.projects__title video {
  width: 100%;
  position: fixed;
  object-fit: cover;
  z-index: -1;
}
.select-projects__title > span {
  display: block;
}
.select-projects__title span:nth-child(2) {
  color: transparent;
  -webkit-text-stroke: 2px var(--color-tertiary);
}
.select-projects__title span:nth-child(2) span{
  color: transparent;
  -webkit-text-stroke: 2px var(--color-secondary);
}
.select-projects__project-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: min(100%, max(60%, 800px));
  margin: 50px auto;
  padding: 30px 0;
}
.select-projects__project-name span {
  width: 20%;
}
.select-projects__project h2 {
  width: 60%;
  margin-bottom: 10px;
}
.select-projects__project-name a {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100%;
}
.select-projects__project-img {
  display: flex;
  flex-direction: column;
  width: min(100%, max(60%, 800px));
  margin: auto;
}
.select-projects__project-img a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 0.5em 0.5em;
}
.select-projects__project-img a img {
  width: 100%;
  object-fit: cover;
  transform: scale(1.01);
}
.select-projects__project-img a img:hover {
  transform: scale(1.05);
}
/* Project default start */

.project-default__info-container {
  display: flex;
  flex-direction: row;
  padding: 100px 0;
}
.project-default__divider {
  width: 25%;
}
.project-default__info {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 2rem;
}
.project-default__title {
  font-size: 5em;
  text-transform: uppercase;
}
.project-default__date {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 2rem;
}
.project-default__date span {
  color: var(--color-tertiary);
}
.project-default__name {
  font-size: 1.2em;
  text-transform: uppercase;
}
.project-default__skills {
  display: flex;
  flex-direction: row;
}
.skills {
  margin-right: 0.5rem;
}
.project-default__description {
  font-size: 1em;
  text-wrap: balance;
  text-align: justify;
}
.btn-project {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: var(--color-tertiary-light);
  border: solid 1px var(--color-tertiary);
  padding: 0.5rem 1rem;
  overflow: hidden;
  transition: color 0.3s ease-in-out;
}
.btn-project:hover {
  color: var(--color-primary);
}
.btn-project:hover svg {
  transform: rotate(0);
}
.btn-project:hover svg polygon {
  fill: var(--color-primary);
}
.btn-project svg {
  width: 20px;
  height: auto;
  transform: rotate(-45deg);
  transition: transform 0.3s ease-in-out;
}
.btn-project svg polygon {
  fill: var(--color-secondary);
  transition: fill 0.3s ease-in-out;
}
.btn-project::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-tertiary);
  z-index: -1;
  transform: translateX(-100%);
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.btn-project:hover::after {
  transform: translateX(0);
}
.projects-images {
  width: 50%;
  margin: 100px auto;
  content-visibility: auto;
}
.projects-images__browser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 25px;
  padding: 0 .5em;
  border-radius: 0.5em 0.5em 0 0;
  background-color: color-mix(in srgb, var(--color-secondary) 10%, transparent);
}
.projects-images__browser-dots {
  position: relative;
  height: 25%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: color-mix(in srgb, var(--color-secondary) 20%, transparent);
}
.projects-images__browser-dots::after{
  content: '';
  aspect-ratio: 1 / 1;
  position: absolute;
  left: 150%;
  height: 100%;
  top: 0;
  border-radius: 50%;
  background-color: color-mix(in srgb, var(--color-secondary) 15%, transparent);
}
.projects-images__browser-dots::before{
  content: '';
  aspect-ratio: 1 / 1;
  position: absolute;
  left: 300%;
  height: 100%;
  top: 0;
  border-radius: 50%;
  background-color: color-mix(in srgb, var(--color-secondary) 10%, transparent);
}
.projects-images__browser-url {
  width: 60%;
  height: 45%;
  border-radius: 0.5em;
  background-color: color-mix(in srgb, var(--color-secondary) 20%, transparent);
}
.projects-images__browser-share {
  height: 45%;
  aspect-ratio: 1 / 1;
  border-radius: 10%;
  background-color: color-mix(in srgb, var(--color-secondary) 20%, transparent);
}
.projects-images img {
  width: 100%;
  border-radius: 0 0 0.5em 0.5em;
  box-shadow: 0px 20px 32px 0px rgba(0,0,0,0.75);
}
.projects-images__mockup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  max-height: 400px;
  overflow: hidden;
}
.mockup__img {
  width: 100%;
  object-fit: cover;
}
/* cialpha styles */
.project__images-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.project-alpha {
  width: clamp(300px, 50vw, 48%);
}
.project-alpha img,
.project-alpha video {
  width: 100%;
  border-radius: 0 0 0.5em 0.5em;
}
/* 
.project__images-container video {
  width: clamp(300px, 50vw, 48%);
  object-fit: cover;
} */
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 200px;
  height: 50px;
  left: 50%;
  bottom: 0;
  background-color: #1a191990;
  backdrop-filter: blur(5px);
  border-radius: 5px;
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: box-shadow .5s cubic-bezier(0.215, 0.610, 0.355, 1);
  z-index: 100;
}
.pagination:hover {
  box-shadow: 0px 5px 34px -12px var(--color-secondary);
}
.pagination div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: flex .5s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.pagination div:nth-child(1),
.pagination div:nth-child(3) {
  width: 30%;
  height: 100%;
}
.pagination div:nth-child(1):hover {
  flex: 2;
}
.pagination div:nth-child(3):hover {
  flex: 2;
}
.pagination div:nth-child(1) {
  border-radius: 5px 0 0 5px;
  border-right: solid 1px var(--color-secondary);
}
.pagination div:nth-child(1):hover {
  background-color: #252323;
}
.pagination div:nth-child(3) {
  border-left: solid 1px var(--color-secondary);
}
.pagination div:nth-child(2) {
  width: 70%;
}
.pagination div a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.pagination div svg {
  width: 20px;
  height: 20px;
  opacity: 0.5;
}
.pagination div:hover svg {
  width: 25px;
  height: 25px;
  opacity: 1;
}
.pagination div svg polygon {
  fill: var(--color-secondary);
}
.pagination div:nth-child(1) svg {
  transform: rotate(180deg);
}
.pagination--disable {
  opacity: .2;
}
.pagination--disable:hover {
  background-color: transparent!important;
  flex: 1!important;
}
.pagination--disable:hover svg {
  width: 20px!important;
  height: 20px!important;
  opacity: .5!important;
}

/*logos section start*/
.logos-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: clamp(50%, 90vw, 800px);
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}
.logos-container div span {
  position: absolute;
  font-size: .7em;
  text-transform: uppercase;
  text-align: center;
  opacity: .5;
}
.logos-container div span:nth-child(1) {
  top: 10px;
  left: 10px;
}
.logos-container div span:nth-child(3) {
  bottom: 10px;
  right: 10px;
}
.logos-container div {
  position: relative;
  flex: 1 1 calc(33.333% - 20px);
  max-width: 300px;
  height: auto;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c1c;
}
.logos-container div img {
  width: 80%;
  opacity: .5;
  transition: opacity .5s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.logos-container div:hover img {
  opacity: 1;
}
/* Scroll indicator animations */
@keyframes scroll {
  0%, 20%, 50%, 80%, 100% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  40% {
    transform: translate(-50%, 15px);
    opacity: 0;
  }
}
@keyframes mouseBounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
    opacity: .8;
  }
  60% {
    transform: translateY(-5px);
  }
}
/* Scroll section animations */
@keyframes opacityLeftAnimation {
  0% {
    opacity: 0;
    transform: translateX(-50px);
    filter: blur(10px);
  }
  90% {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
}
.fade-in-view-left {
  animation-name: opacityLeftAnimation;
  animation-timing-function: cubuc-bezier(0.215, 0.610, 0.355, 1);
  animation-timeline: view();
}
@keyframes opacityRightAnimation {
  0% {
    opacity: 0;
    transform: translateX(20px);
    filter: blur(10px);
  }
  90% {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
}
.fade-in-view-right { 
  animation-name: opacityRightAnimation;
  animation-timing-function: cubuc-bezier(0.215, 0.610, 0.355, 1);
  animation-timeline: view();
}
/* Transition page */
.box {
  position: fixed;
  width: 100vw;
  height: 50vh;
  background-color: var(--color-secondary);
  z-index: 1000;
  transition: transform .5s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.box--top {
  top: 0;
}
.box--bottom {
  top: 50vh;
}
.box--top.in {
  transform: translateY(0);
}
.box--top.out {
  height: calc(50vh - 1px);
  transform: translateY(-50vh);
}
.box--bottom.in {
  transform: translateY(0);
}
.box--bottom.out {
  transform: translateY(50vh);
}
.logo-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 50px;
  overflow: hidden;
  pointer-events: none;
  z-index: 1001;
}
.logo-loading--animated {
  position: relative;
  width: 100%;
  object-fit: cover;
  transition: transform .5s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.logo-loading--animated.in {
  transform: translateY(0);
}
.logo-loading--animated.out {
  transform: translateY(60%);
}
section,
footer {
  opacity: 1;
  transform: translateY(50px);
  transition: transform 0.5s cubic-bezier(0.215, 0.610, 0.355, 1), opacity 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
}
section.out {
  opacity: 1;
  transform: translateY(0);
}
section.in {
  opacity: 0;
  transform: translateY(50px);
}
footer.out {
  opacity: 1;
  transform: translateY(50px);
}
footer.in {
  opacity: 0;
  transform: translateY(0);
}
/* images section */
.w-50 {
  margin: 100px 0 100px 0;
  color: var(--color-tertiary);
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 30px;
}
.banner-catogory-grapDesign {
  position: relative;
  width: 100%;
  height: 300px;
  margin: 100px 0;
  overflow: hidden;
  background-image: url("/src/images/Cover-and-open-magazine-mockup.jpeg");
  background-size: cover;
  background-position: center;
}
.images-gallery__stories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 60%;
  margin: auto;
  gap: 10px;
}
.images-gallery__post {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 60%;
  margin: auto;
  gap: 10px;
}
.images-gallery__spomi {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 60%;
  margin: 10px auto;
}
.images-gallery img {
  width: 100%;
  border-radius: 5px;
}
.subtitle-design {
  display: block;
  width: 60%;
  margin: 20px auto;
  padding: 0 10px;
  color: var(--color-secondary);
  border-left: solid var(--color-tertiary) 1px;
  line-height: 1;
}
/* video gallery section */
.video-gallery {
  width: 50%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: 150px;
  gap: 10px;
}
.video {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.video video {
  width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
}
.video-9-16 {
  grid-row: span 2;
}
.video-1-1 {
  grid-column: span 2;
  grid-row: span 2;
}
/* cursor circle */
.cursor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--color-tertiary);
  position: fixed;
  opacity: .5;
  pointer-events: none;
  z-index: 10000;
  transition: transform 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.cursor-arrow {
  opacity: 0;
  transition: opacity .5s cubic-bezier(0.215, 0.610, 0.355, 1), transform .5s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.cursor-arrow.active {
  opacity: 1;
  transform: scale(0.5) rotate(-45deg);
}
/* Particles noise */
.noise {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  z-index: 1000;
  mix-blend-mode: screen;
  opacity: .1;
}